/* GENERAL SETTINGS */

@fontface {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf')
}

body {
    background: #fff;
    color: #3f3f3f;
    font: 14px / 28px;
    font-family: 'Raleway', arial;
}

h1 {
  font-size: 52px;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.sectionArea {
  padding: 80px 0;
}


/* GRID SETTINGS */

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.featuresBody .container {
   justify-content: space-between;
}

h3 {
  font-size: 16px;
  color: #5704cc;
  font-weight: bold;
  transition: all .5s ease;
}

.col3 {
  flex-grow: 1;
  width: 33.33%;
}

.sectionHeader {
  background: #550D16;
  border-bottom: 6px solid #000;
  height: 60px;
  color: #fff;
  display: inline-block;
  line-height: 60px;
  font-size: 24px;
  padding: 5px 40px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.engineBody .container {
  justify-content: space-between;
}

col2 {
  flex-grow: 1;
  width: %100;
  padding: %100;
}




/* HOME SETTINGS */

header .logo {
   margin-right: auto;
}

header .logo img {
  display: block;
  height: 70px;
}

.menu li {
    float: left;
}

.menu li a {
    padding: 27px 17px;
    display: block;
    text-decoration: none;
    letter-spacing: 2px;
    color: #333;
    transition: all .5s ease;
}

.menu li a:last-child {
  padding-right: 0;
}

.menu li:hover a {
  background: #5704cc;
  color: #fff;
}

#mainSlider {
  height: 500px;
  background-color: #5704cc;
  background-size: cover;
}

#mainCaption {
  height: 500px;
  background: rgba (0,0,0 .5);
}

.caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
}

.featuresTop {
  text-align: center;
}

.zoom {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  vertical-aline: top;
}

.zoom img {
  display: block;
  width: 100%;
  height: auto;
  transition: all .5s ease;
}

.item .itemText {
  text-align: center;
  padding: 5px;
  border: 1px solid #5704cc;
}

.item:hover .zoom img {
   transform: scale(1.25);
}

.item:hover h3 {
  color: #fff;
}

.item:hover .itemText {
  background: #6c03ff;
  color: #fff;
  transition: all .5s ease;
}

.btnDetails {
  color: #5704cc;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #5704cc;
  transition: all .5s ease;
}

item:hover .btnDetails {
  color: #fff;
  border: 1px solid #fff;
}

.itemText p {
  margin: 20px 0
}

#parallax {
  height: 100px;
  background-color: #5704cc;
  background-size: cover;
  text-align: center;
}


#parallax p {
  color: #fff;
}

#engineBody {
  flex-grow: 1;
  width: 50%;
}
